.row{ margin-left: 20px; color: #fff; }
.posters{ display: flex; padding: 20px; overflow-x: scroll; overflow-y: hidden; }
.posters::-webkit-scrollbar{ display: none;}
.poster{ max-height: 220px; margin-right: 10px; cursor: pointer; }
.smallPoster{ max-height: 150px; margin-right: 10px; cursor: pointer; }
.poster:hover, .smallPoster:hover { transform: scale(1.1); transition-duration: 0.5s;}
.movie-title {position:absolute; top: 4rem; left: 0.5rem; font-size: 15px; max-width: 150px; background-color: rgba(51, 51, 51, 0.5);}
.poster-content {position: relative;}

